<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:include="/layout/admin_header"></th:block>
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../static/css/style.css" />
</head>
<body>


<div class="imgbox">
    <img class="center-fit" src='/images/home2.jpg'>
</div>
<!-- <h1><a th:href="${'/createemp'}"> Add new employee</a></h1> -->
<!-- <h1><a th:href="${'/add_holidays'}" > Add Public Holidays</a></h1> -->
<!-- <h1><a th:href="${'/list_holidays'}"> List Public Holidays</a></h1> -->
<!-- <h1><a th:href="${'/list_leavetypes'}"> List Leave types</a></h1> -->
<!-- <h1><a th:href="${'/add_leavetypes'}" > Add new Leave type</a></h1> -->

</body>
<th:block th:include="/layout/footer"></th:block>
</html>