<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Manager Leave Detail</title>
<th:block th:include="/layout/mgr_header"></th:block>
</head>
<body>
<h1 th:text="${manager.name}"> dummy </h1>
	<div class="container">
		<form action="#" th:action="@{/leaveapplications/{name}(name=${manager.name})}" th:object="${updateleave}" method="post">
			
			<div class="form-group">
			<input type="hidden" class="form-control" th:field="*{leaveId}" />
				<div class="col-sm-10">
					Days Applied: <label th:text="*{daysApplied}"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					Leave Type: <label th:text="*{type}"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					Date of Application:<label th:text="*{dateOfApplication}"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					Start Date: <label th:text="*{startDate}"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					End Date: <label th:text="*{endDate}"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					Reason: <label th:text="*{reason}"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					 Work Dissemination:<label th:text="*{workDissemination}"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					Contact No: <label th:text="*{contactNo}"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					Leave Status:
					<select th:field="*{status}">
						<option th:value="'Applied'" th:text="Applied"></option>
						<option th:value="'Approved'" th:text="Approved"></option>
						<option th:value="'Rejected'" th:text="Rejected"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					Manager Comments: <input type="text" th:field="*{managerComments}">
				</div>
			</div>
			<div class="form-group">
				<button name="update leaveapp" type="submit" value="0">Update</button>
				<button name="cancel leaveapp" type="cancel" value="0"><a th:href="${'/cancel/'+manager.name}">Cancel</a></button>
			</div>
		</form>
	</div>
</body>
</html>