<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style_general.css}"
	href="../../static/CSS/style_general.css" />
</head>
<body>
<form action="#" th:action="@{/saveemp1}" th:object="${employe1}" method="post">
<h4>employeeName:<input type="text" name="employee id" th:field="*{employeeName}"></h4><br/>
<h4>userId:<input type="text" name="employee id" th:field="*{userId}"></h4><br/>
<h4>password:<input type="text" name="employee id" th:field="*{password}"></h4><br/>
<h4>Employeetype:<input type="radio" id="radioVal1" value="manager" th:field="*{employeeType}">Manager
<input type="radio" id="radioVal1" value="employee" th:field="*{employeeType}">Employee
<input type="radio" id="radioVal1" value="admin" th:field="*{employeeType}">Admin</h4>
<h4>Employee designation:<input type="radio" id="radioVal1" value="teamlead" th:field="*{designation}">TeamLead
<input type="radio" id="radioVal1" value="developer" th:field="*{designation}">Developer</h4>
<input type="hidden" name="annualLeaveBalance" value="14"><br/>
<input type="hidden" name="medicalLeaveBalance" value="60" >
<input type="hidden" name="compLeaveBalance" value="0"><br/>
<h4><button name="submit" type ="submit" value="0">submit</button></h4>
</form>
</body>
</html>