<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<th:block th:include="/layout/admin_header"></th:block>
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../static/css/style.css" />
</head>
<body>
<table th:align="center">
<thead>
<tr>
<th>Employeeid</th>
&emsp;&emsp;&emsp;&emsp;&emsp;
<th>employeename</th>
&emsp;&emsp;&emsp;&emsp;&emsp;
<th>getuserid</th>
&emsp;&emsp;&emsp;&emsp;&emsp;
<th>designation</th>
&emsp;&emsp;&emsp;&emsp;&emsp;
<th>employeetype</th>
&emsp;&emsp;&emsp;&emsp;&emsp;
<th>annualleavebalance</th>
&emsp;&emsp;&emsp;&emsp;&emsp;
<th>medicalleave balance</th>
&emsp;&emsp;&emsp;&emsp;&emsp;
</tr>
</thead>
<tr>

<td th:text="${employedelup.getEmployeeId()}">EmployeeId</td>
<td th:text="${employedelup.getEmployeeName()}">EmployeeName</td>
<td th:text="${employedelup.getUserId()}">UserId</td>
<td th:text="${employedelup.getDesignation()}">Designation</td>
<td th:text="${employedelup.getEmployeeType()}">EmployeeType</td>
<td th:text="${employedelup.getAnnualLeaveBalance()}">AnnualLeaveBalance</td>
<td th:text="${employedelup.getMedicalLeaveBalance()}">MedicalLeaveBalance</td>


</tr>
</table><br><br>
 &emsp;&emsp;&emsp;&emsp;&emsp;  &emsp;&emsp;&emsp;&emsp;&emsp;  &emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;<a th:href="${'/updateempid/' + employedelup.getEmployeeId()}" class="btn btn-default" >Update employee</a> &emsp;&emsp;&emsp;&emsp;&emsp;
<a th:href="${'/deleteempid/' + employedelup.getEmployeeId()}" class="btn btn-default" >Delete employee</a>

</body>
</html>