<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
<title>EmployeeLeaveDetails</title>
<th:block th:include="/layout/header"></th:block>
</head>
<body>
<div class="container">
<h4>Employee Leave Details</h4>
    <div th:fragment="header">
      <div th:if="${not #lists.isEmpty(leave)}">
        <table class="table table-striped" th:object=${leave}>
            <tr>     
                
                <td>Employee Name: </td><td th:text="${employee.employeeName}"></td>
                <td></td>   
                <td>Days Applied: </td><td th:text="${leave.daysApplied}"></td>                                      
            </tr>
            <tr>     
                <td>Date Of Application: </td><td th:text="${leave.dateOfApplication}"></td>
                <td></td>
                <td>Start Date:</td><td th:text="${leave.startDate}"></td>
            </tr>
            <tr>     
                <td>End Date: </td><td th:text="${leave.endDate}">EndDate</td>
                <td></td>
                <td>Status: </td><td th:text="${leave.status}">Status</td>
            </tr>
            
             <tr>     
                <td>Reason: </td><td th:text="${leave.reason}"></td>
                <td></td>
                <td>Work Dissemination: <td th:text="${leave.workDissemination}"></td>
            </tr>
             <tr>     
                <td>Contact No: </td><td th:text="${leave.contactNo}">ContactNo</td>
                <td></td>
                <td>Manager Comments: <td th:text="${leave.managerComments}"></td> 
            </tr>
            <tr>     
                <td>Leave: </td><td th:text="${leave.type}"></td>  
                <td></td>        
            </tr> 
            <tr>                                             
                <td><a th:if="${leave.status !='Rejected' and leave.status !='Approved'}" th:href="${'/leave/edit/' + leave.leaveId}" class="btn btn-danger">Edit</a></td>
                <td></td>
                <td><a th:if="${leave.status !='Rejected' and leave.status !='Approved'}" th:href="${'/leave/delete/' + leave.leaveId}" class="btn btn-danger">Delete</a></td>
                <td></td>
                <td><a th:if="${leave.status !='Rejected'}" th:href="${'/leave/cancel/' + leave.leaveId}" class="btn btn-danger">Cancel</a></td>
            </tr>
        </table>
 </div>
</div>
</div>
</body>
<th:block th:include="/layout/footer"></th:block>
</html>