<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LAPS Leave Form</title>
</head>
<body>


<p th:text= " 'Date of application: ' + ${leave.dateOfApplication}"/>
	<div class="container">
		<div>
			<form class="form-horizontal" th:object="${leave}"
				th:action="@{/leaveconfirmation/} + ${employee.employeeId}" method="post">
				<div th:object="${employee}">
					<p th:text="'Hello, ' + *{employeeName} + '!'">
					<p th:text="'Annual Leave Balance: ' + *{annualLeaveBalance}">
					<p th:text="'Medical Leave Balance: ' + *{medicalLeaveBalance}">
					<p th:text="'Compensation Leave Balance: ' + *{compLeaveBalance}">
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="hidden" class="form-control" th:field="*{leaveId}" />
					</div>
				</div>
					
				<div class="form-group">
					<div class="col-sm-10">
						<input type="hidden" class="form-control" th:field="*{daysApplied}" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="hidden" class="form-control" th:field="*{dateOfApplication}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Leave Start Date:</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" th:field="*{startDate}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Leave End Date:</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" th:field="*{endDate}" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="hidden" class="form-control" th:field="*{status}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Reason for applying leave:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{reason}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Work Duties hand over to:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{workDissemination}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Your contact no while overseas:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{contactNo}" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="hidden" class="form-control" th:field="*{managerComments}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Type of leave</label>
					<div class="col-sm-10">
						<select th:field="*{type}">
							<option th:value="Annual" th:text="Annual"></option>
							<option th:value="Medical" th:text="Medical"></option>
							<option th:value="Compensation" th:text="Compensation"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</body>
</html>