<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<th:block th:include="/layout/admin_header"></th:block>
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../static/css/style.css" />
</head>
<body>
<table th:align="center">
<thead>
<tr>
<th>Employeeid</th>
<th>Employeename</th>
<th>UserName</th>
<th>Designation</th>
<th>Employeetype</th>
<th>Annualleavebalance</th>
<th>Medicalleave balance</th>
<th>Comleavebalance</th>
</tr>
</thead>
<tbody>
<tr th:each="employee1 :${employee}">
<td th:text="${employee1.getEmployeeId()}">Employeeid</td>
<td><a th:href="${'/delup/' + employee1.getEmployeeId()}" class="btn btn-default" th:text = "${employee1.getEmployeeName()}">Name</a></td>
<td th:text="${employee1.getUserId()}">getuserid</td>
<td th:text="${employee1.getDesignation()}">designation</td>
<td th:text="${employee1.getEmployeeType()}">employeetype</td>
<td th:text="${employee1.getAnnualLeaveBalance()}">annualleavebalance</td>
<td th:text="${employee1.getMedicalLeaveBalance()}">medicalleave balance</td>
<td th:text="${employee1.getCompLeaveBalance()}">comleavebalance</td>

</tr>
</tbody>
</table>
<br>

<form action="#" th:action="@{/createemp}" th:object="${employee}" method="post">  

&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;
 <button name="create employee" type ="submit" value="0">create employee</button>
</form>
<br>
<br>
</body>
</html>