.navbar-default {
    background: #3f51b4;
}
.navbar-footer {
    background: #ffffff;
}
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 90%;
    max-height: 100vh;
    margin: auto;
}

#table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#con{
	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
}

#login-body {
    font-family: 'verdana';
    font-size : 12pt;
    max-width: 500px;
	margin: auto;
}

#login-text {
  font-family: 'verdana';
  font-size : 12pt;
  width: 100%;
  padding: 5px 5px;
  margin: 10px 0 10px 0;
  box-sizing: border-box;
}

#login-password {
  font-family: 'verdana';
  font-size : 12pt;
  width: 100%;
  padding: 5px 5px;
  margin: 10px 0 10px 0;
  box-sizing: border-box;
}

#login-btn {
	font-family: 'verdana';
  	font-size : 18pt;
    width: 100%;
    height: 60px;
    background-color: #afb0b1;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
  	margin: 20px 0 10px 0;
  	border: 2px solid #afb0b1;
  	color: white;
}

.button {
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

.button:hover {
	border: 2px solid #654423 !important;
  	background-color: white !important;
  	color: #654423 !important;
}

#login-form {
	display: inline-block;
	width: 100%;
	align-content: center;
	margin: 15px 0 15px 0;
	padding: 0 !important;
}

#red {
	color: red !important;
}